.icon{
    width: 50%;
    height: 50%;
    margin: 30px auto;
    display: block;
}
.city{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #0E8388;
    
}

.temp{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #0E8388;
    margin-top: 1rem;
}

h2{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #0E8388;
    margin-top: 1rem;
}
.city{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}