@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');


body{
  background: #cbe4de;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card{
  background: #FFFFFF;
  border-radius: 5px;
  width: 449px;
  height: 716px;
  position: relative;
  border-radius: 40px;
}
.container{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.date{
  position: relative;
  padding-top: 2rem;
  text-align: center;
  
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #0E8388;
}
.subtitle{
  position: relative;
  text-align: center;
  padding: 1rem;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #0E8388;
}

.bottonRight{
  float: right;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 200;
  margin-right: 2rem;
  font-size: 60px;
}
.dropDownLeft{
  float: left;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  outline: solid #0E8388;
  margin-left: 2rem;
  border-radius: 7px;
  height: 30px;
  width: 30px;
}

text{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0E8388;
}

.dropdown-toggle::after {
  display: none !important; 
}

.logo{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}