.icon{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: block;
}
.city{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #0E8388;
    
}

.temp{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #0E8388;
    margin-top: 1rem;
}

h2{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #0E8388;
    margin-top: 1rem;
}